body {
  width: 1920px;
  overflow: hidden;
}

.main {
  top: 0px;
  left: 0px;
  width: 1520px;
  height: 1077px;
  overflow: auto;

  background: #eff2ff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo {
  top: 0px;
  left: 0px;
  position: relative;

  opacity: 1;
}
.logo img {
  top: 49px;
  left: 10px;
  position: absolute;
  width: 206px;
  height: 33px;
  background: transparent url("assets/Group 46312.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.header-tab {
  top: 0px;

  width: 100%;
  height: 100px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 25px 0px;
  opacity: 1;
  position: absolute;
}

.right {
  top: 0px;
  position: relative;
  left: 80px;
}
.text1 {
  position: absolute;
  top: 49px;
  left: 153px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 20px/11px Sofia Pro;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}
.text2 {
  position: absolute;
  top: 49px;
  left: 791px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 20px/11px Sofia Pro;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}
.notif {
  position: absolute;
  top: 35px;
  left: 1040px;
  width: 50px;
  height: 50px;
  /* UI Properties */
  /* background: #ffffff 0% 0% no-repeat padding-box; */
  
  opacity: 1;
}
.notif img {
  position: absolute;
  top: 10px;
left: 10px;

  width: 30px;
  height: 30px;
  border: none;
  /* UI Properties */
  background: transparent url("assets/Group2.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.profile {
  position: absolute;
  top: 35px;
  left: 1103px;
  width: 170px;
  height: 50px;
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d0e4ff;
  border-radius: 7px;
  opacity: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.profile img {
  width: 24px;
  height: 24px;

  background: transparent url("assets/Vector.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.text3 {
  width: 106px;
  height: 21px;

  font: normal normal normal 18px/11px Sofia Pro;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}

.sidebar {
  top: 100px;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #eff2ff;
  color: #1a9ced;
  border-radius: 20px 0px 0px 20px;
}

.sidebar a:hover:not(.active) {
  background-color: #1a9ced;
  color: black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

.logo1 {
  background: url("assets/Group\ 46288.png");
  top: 915px;
  left: -107.93359375px;
  width: 277px;
  height: 226px;
  transform: matrix(0.88, -0.47, 0.47, 0.88, 0, 0);
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.content {
  position: relative;
  top: 100px;
}
.text01 {
  left: 570px;
  position: relative;
  width: 124px;
  height: 12px;
  top: 10px;
  text-align: left;
  font: normal normal medium 25px/11px Sofia Pro;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}
.text-box {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 10px;
  left: 65px;
  width: 1127px;
  justify-content: space-between;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  top: 0px;
  left: 78px;
  max-width: 100%;
  width: 1092px;
}

.progress-container::before {
  content: "";
  background-color: #286ecd;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #286ecd;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #eff2ff;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #286ecd;
  transition: 0.4s ease;
  z-index: 1;
}

.circle.active {
  background-color: #286ecd;
}

.section-text {
  position: relative;
  left: 49px;
  width: 199px;
  height: 32px;
  text-align: left;
  font: normal normal bold 28px/32px Sofia Pro;
  letter-spacing: -0.16px;
  color: #383838;
  opacity: 1;
}
.selectbtn {
  position: absolute;
  background-color: #377CCF;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
 padding: 10px;
  width: 120px;
  height: 40px;
  left: 950px;
  border-radius: 5px;
  top: 140px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.selectbtn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.selectbtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.section-box {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 1192px;
  left: 80px;
  height: 110px;
}


.box1 {
  background: url("assets/BOX1.png") no-repeat;
  width: 270px;
  height: 111px;
  background-size: contain;
}
.box1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.box2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.box3:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box2 {
  background: url("assets/BOX2.png") no-repeat;
  width: 270px;
  height: 111px;
  background-size: contain;
}

.box3 {
  background: url("assets/BOX3.png") no-repeat;
  width: 270px;
  height: 111px;
  background-size: contain;
}

.box4 {
  background: url("assets/BOX4.png") no-repeat;
  width: 270px;
  height: 111px;
  background-size: contain;
}
.box1 img{
  position: relative;
  padding:20px
}
.box2 img{
  position: relative;
  padding:20px
}
.box3 img{
  position: relative;
  padding:20px
}
.box4 img{
  position: relative;
  padding:20px
}
.heading1 {
  top: -80px;
  position: relative;
  text-align: center;
  font-size: 20px;
  left: 20px;
    color: white;
  
}
.heading2 {
  top: -100px;
  position: relative;
  text-align: center;
  font-size: 20px;
  left: 20px;
    color: white;
}
.box3 p {
  font-size: 20px;
    color: white;
    text-align: center;
}
.box4 p {
  font-size: 20px;
    color: white;
    text-align: center;
}

/* BAR- CHART CSS */

.chart-container {
  width: 593px;
  margin: 20px auto;
  position: relative;
  padding: 40px;
  left: -220px;
  background-color: white;
  height: 200px;
}
.chart-heading {
  position: absolute;
  top: -10px;
  left: 10px;

  text-align: left;
  font: normal normal bold 20px/23px Sofia Pro;
  letter-spacing: -0.11px;
  color: #383838;
  opacity: 1;
}

.bar {
  width: 30px;
  height: 180px; /* You can adjust the height as needed */
  background-color: lightblue;
  display: inline-block;
  margin-right: 15px;
  border-radius: 10px;
  left: 20px;
  position: relative;
}

.bar-fill1 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 135px;
  bottom: 0px;
  height: 45px;
}
.bar-fill2 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 36px;
  bottom: 0px;
  height: 145px;
}
.bar-fill3 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 73px;
  bottom: 0px;
  height: 108px;
}
.bar-fill4 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 73px;
  bottom: 0px;
  height: 108px;
}
.bar-fill5 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 135px;
  bottom: 0px;
  height: 45px;
}
.bar-fill6 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 36px;
  bottom: 0px;
  height: 145px;
}
.bar-fill7 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 104px;
  bottom: 0px;
  height: 76px;
}
.bar-fill8 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 73px;
  bottom: 0px;
  height: 108px;
}
.bar-fill9 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 36px;
  bottom: 0px;
  height: 145px;
}
.bar-fill10 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 36px;
  bottom: 0px;
  height: 145px;
}
.bar-fill11 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 30px;
  bottom: 0px;
  height: 151px;
}
.bar-fill12 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-color: #1a9ced;
  opacity: 1;
  position: relative;
  top: 73px;
  bottom: 0px;
  height: 108px;
}

.axis-y {
  position: absolute;
  left: 6px;
  top: 34px;
  display: flex;
  width: 30px;
  height: 200px;
  line-height: 33px;
  text-align: right;
}

.axis-x {
  position: relative;
  top: -8px;
  display: flex;
  width: 564px;
  color: #1a9ced;
  left: 22px;
  justify-content: space-between;
}
/* PIE-CHART */

.piechart {
  position: relative;
  margin: 30px auto 0;
  width: 150px;
  height: 150px;
 

  border-radius: 50%;

  background-image: conic-gradient(#FF8800 20% 40%, #1A9CED 50% 50%);
}
.piechart:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 1px 50px rgb(0 0 0 / 8%);
}
.piechart .name {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}
.charts {
  /* display: flex;
  flex-direction: row;
  width: 759px;
  left: 301px;
  position: relative; */
}

.piechartbox{
  position: absolute;
  height: 280px;
  width: 320px;
  background: white;
  left: 805px;
  top: 340px;
}
.pie-heading{
  position: relative;
  text-align: left;
font: normal normal bold 20px/23px Sofia Pro;
letter-spacing: -0.11px;
color: #222222;
opacity: 1;
left: 10px;
}
.left-text{
  position: absolute;
  top:120px;

}
.right-text{
  position: absolute;
  top:120px;
  left:250px;


}


